<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Meal</title>
</head>
<body>
  <nav>
    <a href="/flights">ALL FLIGHTS</a>
    <a href="/flights/new">ADD FLIGHT</a>
    <a href="/meals/new">ADD MEAL</a>
  </nav>
  
  <h1>New Meal</h1>

  <form action="/meals" method="POST">
    <label for="name">Enter New Meal:</label>
    <input name="name" type="text">
  </form>

  <h3>Existing Meals:</h3>
  <ul>
    <% meals.forEach(meal => {%>
      <li><%=meal.name%></li>
    <%})%>
  </ul>
  
</body>
</html>